header {
    background-color: #2D5D76; /* Change to your desired color */
    padding: 20px 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

h1 {
    margin-bottom: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    text-decoration: underline;
}

nav .logo {
    width: 40px; /* Adjust the width to make the logo smaller */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px;
}

.auth-content {
    display: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    text-align: left;
}

.table td.story-title, .table td.story-description {
    max-width: 300px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-auth-content {
    display: block;
}

.session-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.avatar-dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    cursor: pointer;
}

.bg-custom {
    background-color: #2D5D76; /* Custom background color */
}

.cards {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

.card-custom {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.top-row-custom1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Add this CSS to your stylesheet */
.top-row-custom2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#session-info-container {
    flex: 1;
    margin-right: 20px;
}

#story-info-container {
    flex: 1;
}

.participants-section,
.stories-section {
    margin-top: 20px;
}

.participant-tile {
    width: 100px; /* Standard width */
    height: 100px; /* Standard height */
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 10px;
}

.participant-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start */
    gap: 10px; /* Adjust spacing between tiles */
    max-width: 100%; /* Ensure the container can expand */
    margin: 0 auto;
}

.participant-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 5px;
    box-sizing: border-box;
}
.estimate-display {
    font-size: 48px; /* Adjust as needed */
    font-weight: bold;
}
.player-view {
    margin-left: 20px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.btn-custom {
    background-color: #2D5D76;
    color: white;
}

p.card-text {
    color: gray;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}

#content {
    flex: 1;
}
