name = "sprintstorypoint-api"
main = "src/worker.ts"
compatibility_date = "2026-01-30"

[durable_objects]
bindings = [
  { name = "ROOMS", class_name = "RoomDO" }
]

[[migrations]]
tag = "v1"
new_classes = ["RoomDO"]
